﻿@page "/"

<PageTitle>Index</PageTitle>

<PageSlider/>

<CascadingAuthenticationState>
<AuthorizeView>

    <Authorized>
        <p>Esta autorizado, usuario @context.User.Identity.Name</p>
    </Authorized>


    <NotAuthorized>
        <p>No esta autorizado</p>
    </NotAuthorized>

</AuthorizeView>
</CascadingAuthenticationState>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<PageNewsletter/>

@code{



}