﻿@page "/auth/login"
@using BazzarWebPage.Application.Authentication
@using BazzarWebPage.Application.DTOs.Create
@using Application.Interfaces
@using BazzarWebPage.Application.Services

@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager


<!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
           aria-controls="pills-login" aria-selected="true">Login</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
           aria-controls="pills-register" aria-selected="false">Register</a>
    </li>
</ul>
<!-- Pills navs -->
<!-- Pills content -->
<div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form>
            <div class="text-center mb-3">
                <p>Sign in with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>

            <p class="text-center">or:</p>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="loginEmail" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" @bind-value="email" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="loginPassword" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" @bind-value="password" />
            </div>

            <!-- 2 column grid layout -->
            <div class="row mb-4">
                <div class="col-md-6 d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-3 mb-md-0">
                        <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                        <label class="form-check-label" for="loginCheck"> Remember me </label>
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                </div>
            </div>

            <!-- Submit button -->
            @if (cargando)
            {
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }else
            {
            <button type="submit" class="btn btn-primary btn-block mb-4" @onclick="Logon">Sign in</button>
            }
        </form>
    </div>
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <form>
           
            <!-- Name input -->
            <div class="form-outline mb-4">
                <input type="text" id="registerName" class="form-control" />
                <label class="form-label" for="registerName">Name</label>
            </div>

            <!-- Username input -->
            <div class="form-outline mb-4">
                <input type="text" id="registerUsername" class="form-control" />
                <label class="form-label" for="registerUsername">Username</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="registerEmail" class="form-control" />
                <label class="form-label" for="registerEmail">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="registerPassword" class="form-control" />
                <label class="form-label" for="registerPassword">Password</label>
            </div>

            <!-- Repeat Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="registerRepeatPassword" class="form-control" />
                <label class="form-label" for="registerRepeatPassword">Repeat password</label>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                       aria-describedby="registerCheckHelpText" />
                <label class="form-check-label" for="registerCheck">
                    I have read and agree to the terms
                </label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
        </form>
    </div>
</div>
<!-- Pills content -->



	<CascadingAuthenticationState>
	<AuthorizeView>
		<div>
			<p>Aca estoy autorizado</p>
		</div>
	</AuthorizeView>
	</CascadingAuthenticationState>

@code {
	[Inject]
	public IAuthUsersService authUsersService { get; set; }

	[Inject]
	public AuthenticationStateProvider appAuthStateProvider { get; set; }

	public bool cargando = false;

	public string password = "";

	public string email = "";


	private async void Logon()
	{
		try
		{
			cargando = true;

			LoginDto user = new LoginDto()
			{
				Email = email,
				Password = password
			};

			var loginUser = await authUsersService.Login(user);

			var userAuthProvider = (ApplicationAuthenticationStateProvider)appAuthStateProvider;

			await userAuthProvider.UpdateAuthenticationState(new UserSession
				{
					UserName = loginUser.Email,
					Role = loginUser.Rol.Name
				});

			Close();

			cargando = false;
			navManager.NavigateTo("/", true);

		}
		catch (Exception ex)
		{

			Console.WriteLine(ex.Message);
		}
	}

	private void Close()
	{
		password = "";
		email = "";
	}
}
