﻿@page "/auth/register"
@using BazzarWebPage.Application.Authentication
@using BazzarWebPage.Application.DTOs.Create
@using Application.Interfaces
@using BazzarWebPage.Application.Services

@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

	<div class="">
		<div class="modal-content">
			<div>
				<div class="mb-3">
					<label for="name" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="name" placeholder="name" autocomplete="off" required @bind-value="createUser.Name" />
				</div>
			<div class="mb-3">
				<label for="surname" class="form-label">Apellido</label>
				<input type="text" class="form-control" id="surname" placeholder="surname" autocomplete="off" required @bind-value="createUser.Surname" />
			</div>
			<div class="mb-3">
					<label for="loginEmail" class="form-label">Email</label>
				<input type="text" class="form-control" id="loginEmail" placeholder="name@example.com" autocomplete="off" required @bind-value="createUser.Email" />
				</div>
				<div class="mb-3">
					<label for="Password" class="form-label">Password</label>
				<input type="password" class="form-control" id="loginPassword" required @bind-value="createUser.Password" />
				</div>
			</div>
			<div class="">
			<button type="button" class="btn btn-success" @onclick="RegisterUser">Registrar</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
			</div>
		</div>
	</div>

	<CascadingAuthenticationState>
	<AuthorizeView>
		<div>
			<p>Aca estoy autorizado</p>
		</div>
	</AuthorizeView>
	</CascadingAuthenticationState>

@code {
	[Inject]
	public IAuthUsersService authUsersService { get; set; }

	[Inject]
	public AuthenticationStateProvider appAuthStateProvider { get; set; }


	public CreateUsersDto createUser = new CreateUsersDto();


	private async void RegisterUser()
	{
		try
		{
			createUser.Birthday = DateTime.Today.AddYears(-25);
			createUser.RolId = 1;
			createUser.LocalidadId = 1;
			createUser.PhoneNumber = "254412531";


			var user = await authUsersService.Register(createUser);

			var userAuthProvider = (ApplicationAuthenticationStateProvider)appAuthStateProvider;

			await userAuthProvider.UpdateAuthenticationState(new UserSession
				{
					UserName = user.Email,
					Role = user.Rol.Name
				});

			Close();

			navManager.NavigateTo("/", true);

		}
		catch (Exception ex)
		{

			Console.WriteLine(ex.Message);
		}
	}

	private void Close()
	{
		createUser = new CreateUsersDto();
	}
}