﻿@inherits LayoutComponentBase

<PageTitle>BazzarWebPage</PageTitle>


<div class="page">
    <main id="main">
        <div class="top-row px-4">
            <PageHeader />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>

<PageFooter />