﻿@using Microsoft.AspNetCore.Components.Web


<footer class="py-5 bg-black text-white">
    <div class="row justify-content-between d-flex">
        <div class="col-12 col-lg-3 px-2">
            <h5 class="display-5">About ZenBlog</h5>
            <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem deleniti voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis qui aliquid blanditiis omnis quae. Explicabo?</p>
            <p class="text-white-50"><a href="about.html" class="footer-link-more">Learn More</a></p>
        </div>

        <div class="col-12 col-lg-2">

        </div>
        

        <div class="col-12 col-lg-3">
            <h5 class="display-4">Categorias</h5>
            <ul class="nav flex-column px-2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa fa-chevron-right"></i>Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa fa-chevron-right"></i>Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa fa-chevron-right"></i>Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa fa-chevron-right"></i>FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa fa-chevron-right"></i>About</a></li>
            </ul>
        </div>

        <div class="col-12 col-lg-4 px-2">
            <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-between px-5 my-4 border-top">
        <p>© 2021 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="mx-2"><a class="link-dark" href="#"><i class="fab fa-twitter fa-inverse"></i></a></li>
            <li class="mx-2"><a class="link-dark" href="#"><i class="fab fa-facebook fa-inverse"></i></a></li>
            <li class="mx-2"><a class="link-dark" href="#"><i class="fab fa-instagram fa-inverse"></i></a></li>
        </ul>
    </div>
</footer>