﻿@using BazzarWebPage.Application.DTOs.Create
@using BazzarWebPage.Application.Interfaces

<div class="col-12">
    <div class="container mx-auto px-4 py-5">
        <div class="input-group text-center align-items-center">
            <div class="form-outline">
                <input type="search" id="Correo" class="form-control" @bind="newsletter.Correo" />
            </div>
            <button type="button" class="btn btn-primary" @onclick="Create">
                <i class="fas fa-envelope"></i>
            </button>
        </div>            
</div>
</div>
@code {

    CreateNewsletterDto newsletter = new CreateNewsletterDto();

    [Inject]
    public INewsletterService newsletterService { get; set; }


    protected async Task Create()
    {
        if(!String.IsNullOrEmpty(newsletter.Correo))
        {
            var result = await newsletterService.Insert(newsletter);
        }

        Cancelar();
    }

    private void Cancelar()
    {
        newsletter = new CreateNewsletterDto();
    }

}
