﻿<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container px-5">
        <a class="navbar-brand display-3" href="#">BazzarWebPage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
            </ul>
            <div class="position-relative">
                <a href="#" class="mx-2"><span class="fab fa-facebook fa-inverse"></span></a>
                <a href="#" class="mx-2"><span class="fab fa-twitter fa-inverse"></span></a>
                <a href="#" class="mx-2"><span class="fab fa-instagram fa-inverse"></span></a>
            </div>
            <div>
                <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <a href="/">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/auth/login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
            </div>
        </div>
    </div>
</nav>




@code {

}
