﻿@page "/category/insert"
@using Application.DTOs.Create
@using Application.Interfaces


<PageTitle>Insertar categoria</PageTitle>

<h3>InsertCategory</h3>


<EditForm Model="category" OnValidSubmit="Create" class="card card-body bg-light mt-5" enctype="multipart/form-data">
    <DataAnnotationsValidator />

    <div class="form-group row mb-2">
        <label for="nombre" class="col-md-2 col-form-label">Nombre Categoria:</label>
        <div class="col-md-10">
            <InputText id="nombre" class="form-control" @bind-Value="category.Nombre" />
            <ValidationMessage For="@(() => category.Nombre)" />
        </div>
    </div>
    <div class="form-group row mb-2">
        <label for="UrlImagen" class="col-md-2 col-form-label">Imagen:</label>
        <div class="col-md-10">
            <InputFile id="UrlImagen" class="form-control" OnChange="@LoadFiles" />
            <ValidationMessage For="@(() => category.UrlImagen)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Crear</button>
        </div>
    </div>
</EditForm>


@code {

    [Inject]
    public ICategoryService categoryService { get; set; }

    CreateCategoryDto category = new CreateCategoryDto();


    protected async Task Create()
    {
        var result = await categoryService.Insert(category);

        Cancelar();
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        category.UrlImagen = e.File;

    }

    private void Cancelar()
    {
        category = new CreateCategoryDto();
    }

}